.menus-urls {
width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-bottom: 3px solid #d6d7db8e;
}

.menus ul li {
    margin-top: 20px;
    display: inline-block;
    color: #8b8b8b;
    margin-left: 50px;
    height: 80px;
}

.menus ul li:hover {
    border-bottom: 3px solid #E11138;
}

.menus ul li a:hover {
    color: #E11138;

}

.menus ul li a {
    font-family: 'MinhaFonte';
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 10px, 10px, 5px rgb(31, 31, 31);
    text-transform: uppercase;
}

.menus ul li a.active {
    color: #E11138;
    /* Exemplo de cor para o item ativo */
    pointer-events: none;
    /* Desativa o clique no item ativo */
    cursor: default;
    /* Altera o cursor para o padrão */
}

.menus {
    text-align: center;
    width: 93%;
    float: left;
}
.buscas {
    width: 80%;
    PADDING-LEFT: 20%;
    padding-top: 4%;

}
.buscas input {
    background-image: url('/Imagens/Search.png');
    background-repeat: no-repeat;
    background-position: 98%;
    height: 80px;
    border: 1px solid #FFF;
    border-radius: 3px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    padding: 12px;
    width: 100%;
    transition: border-color 0.3s ease;
    /* Transição suave para a cor da borda */
    color: #8b8b8b;
    /* Cor do texto dentro do input */
    font-size: 18px;
}

.buscas input:focus {
    font-family: "MinhaFonte";
    border-color: #00bac6;
    /* Cor da borda ao selecionar */
}

.buscas input::placeholder {
    font-family: 'MinhaFonte';
    color: #8b8b8b;
    /* Cor do texto de placeholder */
}
.Pergunta {
    padding-top: 8%;
}
.Pergunta h1 {
    font-weight: bold;
    font-family: "MinhaFonte";
    font-weight: 500;   
    font-size: 38px;
    color: #696977;
    text-align: center;
}    
.container {
    font-family: "MinhaFonte";
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.card {
    position: relative;
    width: 389px;
    height: 290px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover img {
    transform: scale(1.1);
    opacity: 0.3;
}

.links {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .links {
    opacity: 1;
}

.links a {
    display: block;
    margin: 10px 0;
    color: #727984;
    text-decoration: none;
    font-size: 16px;
    transition: text-decoration 0.3s;
}

.links a:hover {
    text-decoration: underline;
    color: #E11138;
}
.bottom-link {
    font-family: "MinhaFonte";
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .bottom-link {
    opacity: 1;
}

.bottom-link a {
    color: #727984;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: text-decoration 0.3s;
}

.bottom-link a:hover {
    color: #E11138;
}
.ListaFinal{
    margin: auto;
    text-align: center;
    font-family: "MinhaFonte";
    padding-bottom: 2%;
}
.link-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas iguais */
    gap: 10px; /* Espaço entre os itens */
    max-width: 600px; /* Largura máxima da lista */
    margin: auto; /* Centraliza a lista na página */
    padding-bottom: 3%;
}

.link-list a {
    color: #696977;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.link-list a::before {
    content: attr(data-number) ". "; /* Adiciona o número antes do texto do link */
    color: #333;
    font-weight: bold;
}

.link-list a:hover {
    text-decoration: underline; /* Sublinha o texto ao passar o mouse */
    color: #E11138;
}